body, html {
    height: 100%; /* Assure que le corps prend toute la hauteur de la fenêtre */
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    font-family: Arial, sans-serif; /* Police  */
    background-color: #007BFF; /* Couleur de fond de la page */
}

main {
    display: flex; /* définit le modèle du formulaire de connexion */
    flex-direction: column; /* enfants posés en colonne l'un sous l'autre */
    align-items: center; 
    width: 100%; /* largeur */
    padding: 20px; /* Espacement entre le contenu de l'élément et ses bordures */
    box-shadow: 0 4px 8px rgb(0, 0, 0); /* Ombre autour du formulaire */
    background: white; 
    border-radius: 8px; /* Bordures arrondies */
}

input[type="login"],
input[type="password"] {
    width: 100%; 
    padding: 10px;/* espace entre le texte et la bordure */
    margin: 10px 0; /* "10px" marge en haut et en bas. "0" marge à gauche et à droite */
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"],
input[type="button"] {
    width: 100%; 
    padding: 10px; 
    margin-top: 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Souris passe sur ces 2 bouttons */
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #003580;
}

img {
    max-width: 100%; /* Assure que l'image ne dépasse pas son conteneur */
    height: auto;
    margin-bottom: 20px; /* Espace sous l'image */
}
